<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Relative position</title>
    <style>
        .outside{
            width: 500px;
            height: 600px;
            border: 1px solid #000;
            margin: 50px auto 0;
        }

        .outside div{
            width: 200px;
            height: 100px;
        }

        .box1{
            background-color: green;
            position: relative;
            left: 50px;
            top: 50px;
        }

        .box2{
            background-color: gold;
        }
    </style>
</head>
<body>
    <div class="outside">
        <div class="box1"></div>
        <div class="box2"></div>
    </div>
</body>
</html>

<!--
    relative表示，相对于默认位置（即static时的位置）进行偏移，即定位基点是元素的默认位置。

    static是position属性的默认值。如果省略position属性，浏览器就认为该元素是static定位。
    这时，浏览器会按照源码的顺序，决定每个元素的位置，这称为"正常的页面流"（normal flow）。
    每个块级元素占据自己的区块（block），元素与元素之间不产生重叠，这个位置就是元素的默认位置。
    static定位所导致的元素位置，是浏览器自主决定的，所以这时top、bottom、left、right这四个属性无效。
-->