<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>column span</title>
</head>
<body>
    <article>
        <h2>这是一个跨越了所有的列的标题</h2>
        <p>h2 元素应该跨越所有列。文本的其余内容应该分布在各列中。</p>
        <p>这是一些使用 CSS `columns` 属性分成三列的文本。文本在各列中均匀分布。</p>
        <p>这是一些使用 CSS `columns` 属性分成三列的文本。文本在各列中均匀分布。</p>
        <p>这是一些使用 CSS `columns` 属性分成三列的文本。文本在各列中均匀分布。</p>
        <p>这是一些使用 CSS `columns` 属性分成三列的文本。文本在各列中均匀分布。</p>
    </article>
    <style>
        article {
            columns: 3;
        }

        h2 {
            column-span: all;
            background-color: aquamarine;
            text-align: center;
        }
    </style>
</body>
</html>