<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>grid demo1</title>
</head>
<body>
    <div class="app">
        <div class="block">
        </div>
        <div class="block">
        </div>
        <div class="block">
        </div>
    </div>
    <style>
        .app {
            display: grid;
            grid-template-columns: auto auto auto;
        }

        .block {
            height: 100px;
            background-color: aqua;
            border: 2px solid grey;
        }

    </style>
</body>
</html>