<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swiftui-hello.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0DAE34C62C9BBEE70030F81D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DAE34D82C9BBEE90030F81D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DAE34E22C9BBEE90030F81D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
