<html>
	<head>
		<title>inline-flex-dmeo</title>
	</head>
	<body>
	    <div  style="text-align: center;">
	    	inline-flex,即下面两个div都在一行,每一行都是一个flex
	    </div>
		<div class="inline-flex">
			<p>Hello HTML</p>
			<p>Hello CSS</p>
			<p>Hello JS</p>
			<p>Hello TypeScript</p>
		</div>
		<div class="inline-flex">
			<p>Hello Vue</p>
			<p>Hello React</p>
			<p>Hello Angular</p>
		</div>
	</body>
	<style type="text/css">
		.inline-flex {
		  display: inline-flex;
		  align-items: center;
		  justify-content: center;
		  margin-left: 5px;
		  width: 45vw;
		}
	</style>
</html>